/vendor
/node_modules
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
composer.phar
composer.lock
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Build files
/public/hot
/public/storage
/public/build
/public/mix-manifest.json
*.swp
*.swo
*~

